<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">全体</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">企画</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_c" data-toggle="tab" href="#tab_c" role="tab">スキル</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_a" role="tabpanel">
      <p>
        タブAだよ
        <% @projects.each do |project| %>
          <p>
            <strong>Title:</strong>
            <%= project.title %><br>
            <strong>Description:</strong>
            <%= project.description %>
            <strong>UserID:</strong>
            <%= project.user_id %>
          </p>
        <% end %>
      </p>
    </div>
    <div class="tab-pane" id="tab_b" role="tabpanel">
      <p>
        タブBです
      </p>
    </div>
    <div class="tab-pane" id="tab_c" role="tabpanel">
      <p>
        タブC!!
      </p>
    </div>
  </div>
</div>
